*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(images/pexels-krivec-ales-547125.png);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 70px;
    cursor: pointer;
}
.fa-user{
    cursor: pointer;
    margin-left: 20px;
    color: #fff;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    position: relative;
}
nav ul li a::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}
nav ul li a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.sub-menu-wrap{
    position: absolute;
    top: 7%;
    right: 7%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 1;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}
.user-info{
    display: flex;
    align-items: center;
    overflow: hidden;;
}
.user-info h2{
    font-weight: 500;
    width: 1px;
}
.user-info img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 12px 0;
    color: #525252;
}
.sub-menu-link p{
    color: #525252;
    width: 100%;
}
.sub-menu-link .fa-solid{
    color: #525252;
    width: 48px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 11px 0px 11px 12px;
    margin-right: 15px;
}
.sub-menu-link t{
    font-size: 17px;
    color: #525252;
    transition: 0.5s;
}
.sub-menu-link:hover t{
    transform: translateX(5px);
}
.sub-menu-link:hover  p{
    font-weight: 680;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
    justify-content: center;
}
.col{
    flex-basis: 50%;
}
.col1 h1{
    color:#fff;
    font-size: 100px;
}
/*.navbar .row*/ p{
    color:#fff;
    font-size: 12px;
    line-height: 15px;
}
.col1{
    transform: translate(0);
}
.col1 button{
    width: 180px;
    padding: 17px 0;
    text-align: center;
    margin: 30px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #fff;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
    color:black;
}
.col2{
    margin-left: 150px;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px  25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.card1{
    background-image: url(images/pexels-janez-podnar-1424246.jpg);
}
.card2{
    background-image: url(images/pexels-krivec-ales-547125.png);
}
.card3{
    background-image: url(images/pexels-pixabay-36717.jpg);
}
.card4{
    background-image: url(images/pexels-riccardo-bertolo-4245826.jpg);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 5px #999;
    text-shadow: 8px;
}