*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(images/pexels-krivec-ales-547125.png);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;  
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 70px;
    cursor: pointer;
}
.fa-right-to-bracket{
    cursor: pointer;
    margin-left: 40px;
    color: #fff;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
/*nav ul li*/ a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    position: relative;
}
nav ul li a::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}
nav ul li a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
    justify-content: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color:#fff;
    font-size: 100px;
}
/*.navbar .row*/ p{
    color:#fff;
    font-size: 12px;
    line-height: 15px;
}
.col1{
    transform: translate(0);
}
.col1 button{
    width: 180px;
    padding: 17px 0;
    text-align: center;
    margin: 30px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #fff;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
    color:black;
}
.col2{
    margin-left: 150px;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px  25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.card1{
    background-image: url(images/pexels-janez-podnar-1424246.jpg);
}
.card2{
    background-image: url(images/pexels-krivec-ales-547125.png);
}
.card3{
    background-image: url(images/pexels-pixabay-36717.jpg);
}
.card4{
    background-image: url(images/pexels-riccardo-bertolo-4245826.jpg);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 5px #999;
    text-shadow: 8px;
}
.wrapper{
    position: absolute;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}
.wrapper.active-popup{
    transform: scale(1);
}
/*.wrapper.active{
    height: 520px;
}*/
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login{
    /*display: none;*/
    transition: transform .2s ease;
    transform: translateX(0);
}
/*.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px );
}*/
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
    transition: transform .2s ease;
}
/*.wrapper.active .form-box.register{
    transform: translateX(0);
}*/
.fa-xmark{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #fff;
    font-size: 2em;
    color: #162938;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
/*.form-box h2{
    font-size: 2em;
    color: #fff;/*#162938;
    text-align: center;
}*/
.button-box{
    width: 220px;
    margin: 35px auto;
    position: absolute;
    box-shadow: 0 0 20px 9px #05052042;
    border-radius: 30px;
    top: 0;
    display: flex;
    z-index: 1;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-size: 1em;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ffffff, #ffffff);
    border-radius: 30px;
    transition: .5s;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px  solid #fff;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;/*#162839;*/
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;/*#162839;*/
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .fa-solid{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;/*#162938;*/
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    color: #fff;/*#162938;*/
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #fff;/*#162938;*/
    margin-left: 3px;
}
.remember-forgot a{
    color: #fff;/*#162938;*/
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.form-box button{
    width: 100%;
    height: 45px;
    color: #fff;/*#162938; */
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #000;/*#fff;*/
    font-weight: 500;
}
.register-link, .login-link{
    font-size: .9em;
    color: #fff;/*#162938;*/
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.register-link a, .login-link a{
    color: #fff;/*#162938;*/
    text-decoration: none;
    font-weight: 600;
}
.register-link a:hover, 
.login-link a:hover{
    text-decoration: underline;
}